In [16]:
import pandas as pd
ipl_df= pd.read_csv("IPL Matches 2008-2020.csv")

In [17]:
#head
ipl_df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [18]:
#is null
print("IS NULL \n",ipl_df.isnull())

IS NULL
         id   city   date  player_of_match  venue  neutral_venue  team1  team2  \
0    False  False  False            False  False          False  False  False
1    False  False  False            False  False          False  False  False
2    False  False  False            False  False          False  False  False
3    False  False  False            False  False          False  False  False
4    False  False  False            False  False          False  False  False
..     ...    ...    ...              ...    ...            ...    ...    ...
811  False  False  False            False  False          False  False  False
812  False  False  False            False  False          False  False  False
813  False  False  False            False  False          False  False  False
814  False  False  False            False  False          False  False  False
815  False  False  False            False  False          False  False  False

     toss_winner  toss_decision  winner  result  result_margin  eliminator  \
0          False          False   False   False          False       False
1          False          False   False   False          False       False
2          False          False   False   False          False       False
3          False          False   False   False          False       False
4          False          False   False   False          False       False
..           ...            ...     ...     ...            ...         ...
811        False          False   False   False           True       False
812        False          False   False   False          False       False
813        False          False   False   False          False       False
814        False          False   False   False          False       False
815        False          False   False   False          False       False

     method  umpire1  umpire2
0      True    False    False
1      True    False    False
2      True    False    False
3      True    False    False
4      True    False    False
..      ...      ...      ...
811    True    False    False
812    True    False    False
813    True    False    False
814    True    False    False
815    True    False    False

[816 rows x 17 columns]

In [19]:
#is null any
print("\nIS NULL ANY() \n",ipl_df.isnull().any())

IS NULL ANY()
 id                 False
city                True
date               False
player_of_match     True
venue              False
neutral_venue      False
team1              False
team2              False
toss_winner        False
toss_decision      False
winner              True
result              True
result_margin       True
eliminator          True
method              True
umpire1            False
umpire2            False
dtype: bool

In [20]:
#is null sum
print("\nIS NULL SUM() \n",ipl_df.isnull().sum())

IS NULL SUM()
 id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [21]:
#info
print("\nINFO \n",ipl_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

INFO
 None

In [22]:
#describe
print("\nDESCRIBE \n",ipl_df.describe())

DESCRIBE
                  id  neutral_venue  result_margin
count  8.160000e+02     816.000000     799.000000
mean   7.563496e+05       0.094363      17.321652
std    3.058943e+05       0.292512      22.068427
min    3.359820e+05       0.000000       1.000000
25%    5.012278e+05       0.000000       6.000000
50%    7.292980e+05       0.000000       8.000000
75%    1.082626e+06       0.000000      19.500000
max    1.237181e+06       1.000000     146.000000

In [23]:
#shape
print("\nshape\n ",ipl_df.shape)

shape
  (816, 17)

In [24]:
#to delete row
print(ipl_df.drop([5],axis=0))

          id        city        date player_of_match  \
0     335982   Bangalore  2008-04-18     BB McCullum
1     335983  Chandigarh  2008-04-19      MEK Hussey
2     335984       Delhi  2008-04-19     MF Maharoof
3     335985      Mumbai  2008-04-20      MV Boucher
4     335986     Kolkata  2008-04-20       DJ Hussey
..       ...         ...         ...             ...
811  1216547       Dubai  2020-09-28  AB de Villiers
812  1237177       Dubai  2020-11-05       JJ Bumrah
813  1237178   Abu Dhabi  2020-11-06   KS Williamson
814  1237180   Abu Dhabi  2020-11-08      MP Stoinis
815  1237181       Dubai  2020-11-10        TA Boult

                                          venue  neutral_venue  \
0                         M Chinnaswamy Stadium              0
1    Punjab Cricket Association Stadium, Mohali              0
2                              Feroz Shah Kotla              0
3                              Wankhede Stadium              0
4                                  Eden Gardens              0
..                                          ...            ...
811         Dubai International Cricket Stadium              0
812         Dubai International Cricket Stadium              0
813                        Sheikh Zayed Stadium              0
814                        Sheikh Zayed Stadium              0
815         Dubai International Cricket Stadium              0

                           team1                        team2  \
0    Royal Challengers Bangalore        Kolkata Knight Riders
1                Kings XI Punjab          Chennai Super Kings
2               Delhi Daredevils             Rajasthan Royals
3                 Mumbai Indians  Royal Challengers Bangalore
4          Kolkata Knight Riders              Deccan Chargers
..                           ...                          ...
811  Royal Challengers Bangalore               Mumbai Indians
812               Mumbai Indians               Delhi Capitals
813  Royal Challengers Bangalore          Sunrisers Hyderabad
814               Delhi Capitals          Sunrisers Hyderabad
815               Delhi Capitals               Mumbai Indians

                     toss_winner toss_decision                       winner  \
0    Royal Challengers Bangalore         field        Kolkata Knight Riders
1            Chennai Super Kings           bat          Chennai Super Kings
2               Rajasthan Royals           bat             Delhi Daredevils
3                 Mumbai Indians           bat  Royal Challengers Bangalore
4                Deccan Chargers           bat        Kolkata Knight Riders
..                           ...           ...                          ...
811               Mumbai Indians         field  Royal Challengers Bangalore
812               Delhi Capitals         field               Mumbai Indians
813          Sunrisers Hyderabad         field          Sunrisers Hyderabad
814               Delhi Capitals           bat               Delhi Capitals
815               Delhi Capitals           bat               Mumbai Indians

      result  result_margin eliminator method      umpire1         umpire2
0       runs          140.0          N    NaN    Asad Rauf     RE Koertzen
1       runs           33.0          N    NaN    MR Benson      SL Shastri
2    wickets            9.0          N    NaN    Aleem Dar  GA Pratapkumar
3    wickets            5.0          N    NaN     SJ Davis       DJ Harper
4    wickets            5.0          N    NaN    BF Bowden     K Hariharan
..       ...            ...        ...    ...          ...             ...
811      tie            NaN          Y    NaN  Nitin Menon      PR Reiffel
812     runs           57.0          N    NaN  CB Gaffaney     Nitin Menon
813  wickets            6.0          N    NaN   PR Reiffel          S Ravi
814     runs           17.0          N    NaN   PR Reiffel          S Ravi
815  wickets            5.0          N    NaN  CB Gaffaney     Nitin Menon

[815 rows x 17 columns]

In [25]:
#to delete column
print(ipl_df.drop(columns=["eliminator"],axis=1))

          id        city        date player_of_match  \
0     335982   Bangalore  2008-04-18     BB McCullum
1     335983  Chandigarh  2008-04-19      MEK Hussey
2     335984       Delhi  2008-04-19     MF Maharoof
3     335985      Mumbai  2008-04-20      MV Boucher
4     335986     Kolkata  2008-04-20       DJ Hussey
..       ...         ...         ...             ...
811  1216547       Dubai  2020-09-28  AB de Villiers
812  1237177       Dubai  2020-11-05       JJ Bumrah
813  1237178   Abu Dhabi  2020-11-06   KS Williamson
814  1237180   Abu Dhabi  2020-11-08      MP Stoinis
815  1237181       Dubai  2020-11-10        TA Boult

                                          venue  neutral_venue  \
0                         M Chinnaswamy Stadium              0
1    Punjab Cricket Association Stadium, Mohali              0
2                              Feroz Shah Kotla              0
3                              Wankhede Stadium              0
4                                  Eden Gardens              0
..                                          ...            ...
811         Dubai International Cricket Stadium              0
812         Dubai International Cricket Stadium              0
813                        Sheikh Zayed Stadium              0
814                        Sheikh Zayed Stadium              0
815         Dubai International Cricket Stadium              0

                           team1                        team2  \
0    Royal Challengers Bangalore        Kolkata Knight Riders
1                Kings XI Punjab          Chennai Super Kings
2               Delhi Daredevils             Rajasthan Royals
3                 Mumbai Indians  Royal Challengers Bangalore
4          Kolkata Knight Riders              Deccan Chargers
..                           ...                          ...
811  Royal Challengers Bangalore               Mumbai Indians
812               Mumbai Indians               Delhi Capitals
813  Royal Challengers Bangalore          Sunrisers Hyderabad
814               Delhi Capitals          Sunrisers Hyderabad
815               Delhi Capitals               Mumbai Indians

                     toss_winner toss_decision                       winner  \
0    Royal Challengers Bangalore         field        Kolkata Knight Riders
1            Chennai Super Kings           bat          Chennai Super Kings
2               Rajasthan Royals           bat             Delhi Daredevils
3                 Mumbai Indians           bat  Royal Challengers Bangalore
4                Deccan Chargers           bat        Kolkata Knight Riders
..                           ...           ...                          ...
811               Mumbai Indians         field  Royal Challengers Bangalore
812               Delhi Capitals         field               Mumbai Indians
813          Sunrisers Hyderabad         field          Sunrisers Hyderabad
814               Delhi Capitals           bat               Delhi Capitals
815               Delhi Capitals           bat               Mumbai Indians

      result  result_margin method      umpire1         umpire2
0       runs          140.0    NaN    Asad Rauf     RE Koertzen
1       runs           33.0    NaN    MR Benson      SL Shastri
2    wickets            9.0    NaN    Aleem Dar  GA Pratapkumar
3    wickets            5.0    NaN     SJ Davis       DJ Harper
4    wickets            5.0    NaN    BF Bowden     K Hariharan
..       ...            ...    ...          ...             ...
811      tie            NaN    NaN  Nitin Menon      PR Reiffel
812     runs           57.0    NaN  CB Gaffaney     Nitin Menon
813  wickets            6.0    NaN   PR Reiffel          S Ravi
814     runs           17.0    NaN   PR Reiffel          S Ravi
815  wickets            5.0    NaN  CB Gaffaney     Nitin Menon

[816 rows x 16 columns]

In [26]:
#to calculate the mean value
mean_value=ipl_df['neutral_venue'].mean()
print(mean_value)

0.09436274509803921

In [27]:
#to fill the mean value in the null space
ipl_df['neutral_venue'].fillna(mean_value,inplace=True)
print(ipl_df['neutral_venue'])

0      0
1      0
2      0
3      0
4      0
      ..
811    0
812    0
813    0
814    0
815    0
Name: neutral_venue, Length: 816, dtype: int64

In [28]:
#to change the column name
ipl_df.rename(columns = { 'winner' : 'team_won'},inplace=True)
print("HEAD\n",ipl_df.head())

HEAD
        id        city        date player_of_match  \
0  335982   Bangalore  2008-04-18     BB McCullum
1  335983  Chandigarh  2008-04-19      MEK Hussey
2  335984       Delhi  2008-04-19     MF Maharoof
3  335985      Mumbai  2008-04-20      MV Boucher
4  335986     Kolkata  2008-04-20       DJ Hussey

                                        venue  neutral_venue  \
0                       M Chinnaswamy Stadium              0
1  Punjab Cricket Association Stadium, Mohali              0
2                            Feroz Shah Kotla              0
3                            Wankhede Stadium              0
4                                Eden Gardens              0

                         team1                        team2  \
0  Royal Challengers Bangalore        Kolkata Knight Riders
1              Kings XI Punjab          Chennai Super Kings
2             Delhi Daredevils             Rajasthan Royals
3               Mumbai Indians  Royal Challengers Bangalore
4        Kolkata Knight Riders              Deccan Chargers

                   toss_winner toss_decision                     team_won  \
0  Royal Challengers Bangalore         field        Kolkata Knight Riders
1          Chennai Super Kings           bat          Chennai Super Kings
2             Rajasthan Royals           bat             Delhi Daredevils
3               Mumbai Indians           bat  Royal Challengers Bangalore
4              Deccan Chargers           bat        Kolkata Knight Riders

    result  result_margin eliminator method    umpire1         umpire2
0     runs          140.0          N    NaN  Asad Rauf     RE Koertzen
1     runs           33.0          N    NaN  MR Benson      SL Shastri
2  wickets            9.0          N    NaN  Aleem Dar  GA Pratapkumar
3  wickets            5.0          N    NaN   SJ Davis       DJ Harper
4  wickets            5.0          N    NaN  BF Bowden     K Hariharan

In [29]:
#slicing
print(ipl_df[0:5])

       id        city        date player_of_match  \
0  335982   Bangalore  2008-04-18     BB McCullum
1  335983  Chandigarh  2008-04-19      MEK Hussey
2  335984       Delhi  2008-04-19     MF Maharoof
3  335985      Mumbai  2008-04-20      MV Boucher
4  335986     Kolkata  2008-04-20       DJ Hussey

                                        venue  neutral_venue  \
0                       M Chinnaswamy Stadium              0
1  Punjab Cricket Association Stadium, Mohali              0
2                            Feroz Shah Kotla              0
3                            Wankhede Stadium              0
4                                Eden Gardens              0

                         team1                        team2  \
0  Royal Challengers Bangalore        Kolkata Knight Riders
1              Kings XI Punjab          Chennai Super Kings
2             Delhi Daredevils             Rajasthan Royals
3               Mumbai Indians  Royal Challengers Bangalore
4        Kolkata Knight Riders              Deccan Chargers

                   toss_winner toss_decision                     team_won  \
0  Royal Challengers Bangalore         field        Kolkata Knight Riders
1          Chennai Super Kings           bat          Chennai Super Kings
2             Rajasthan Royals           bat             Delhi Daredevils
3               Mumbai Indians           bat  Royal Challengers Bangalore
4              Deccan Chargers           bat        Kolkata Knight Riders

    result  result_margin eliminator method    umpire1         umpire2
0     runs          140.0          N    NaN  Asad Rauf     RE Koertzen
1     runs           33.0          N    NaN  MR Benson      SL Shastri
2  wickets            9.0          N    NaN  Aleem Dar  GA Pratapkumar
3  wickets            5.0          N    NaN   SJ Davis       DJ Harper
4  wickets            5.0          N    NaN  BF Bowden     K Hariharan

In [30]:
#to count a same value
ipl_df['player_of_match'].value_counts()

AB de Villiers    23
CH Gayle          22
RG Sharma         18
DA Warner         17
MS Dhoni          17
                  ..
S Anirudha         1
M Kartik           1
R McLaren          1
RJ Harris          1
PJ Cummins         1
Name: player_of_match, Length: 233, dtype: int64